
<%= turbo_frame_tag @message.id do %>
  <h5>
    <%= form_with model: @message, method: :put do |form| %>
      <%= form.label :content, "Actualizar mensaje:" %>
      <%= form.text_field :content %>
      <%= form.submit "Update" %>

      <%= link_to "Volver", @message %>
    <% end %>
  </h5>
<% end %>
