<div class="container">
  <p style="color: green"><%= notice %></p>

  <h1>MENSAJES</h1>

  <br>
  <%= form_with url: "/messages", method: :post, class: 'blue-frame' do |form| %>
    <%= form.label :content, "Escribir mensaje:" %>
    <%= form.text_field :content %>
    <%= form.submit "Create Message" %>
  <% end %>

  <br>
  <div>
    <h2> Mensajes recibidos </h2>

    <%= turbo_frame_tag "messages_list" do %>
      <%= render @messages %>
    <% end %>
  </div>

  <!-- CORE IDEA: Agregar una vista EDIT en la que yo edite un mensaje y se actualice automaticamente en el front mediante Turbo-Stream con 
        WebSockets
  !-->

</div>
