<div class="container">

  <p style="color: green"><%= notice %></p>

  <h1>Tasks</h1>

  <%= form_with(model: @task, class: "row g-3") do |form| %>
    <div class="col-auto">
      <%= form.label "Lista", class:"visually-hidden" %>
      <%= form.text_field :name, class:"form-control" %>
    </div>
    <div class="col-auto">
      <%= form.button :submit, class:"btn btn-primary mb-3" %>
    </div>
  <% end %>

  <%= turbo_stream_from 'tasks' %>

  <h3>POR HACER</h3>
  <%= turbo_frame_tag "todo_list" do %>
    <%= render @tasks %>
  <% end %>

  <br>
  <h3>TAREAS COMPLETADAS</h3>
  <%= turbo_frame_tag "done_list" do %>
    <%= render @done_tasks %>
  <% end %>

  <br>
  <h3>EDITAR TAREAS</h3>
  <% @tasks.each do |task| %>
    <div>
      <%= task.name %>
      <%= link_to "Show", task %>
      <%= link_to "Edit", edit_task_path(task) %>
    </div>
  <% end %>

  <br>

  <div data-controller="check"> <!-- STIMULUS !-->
    <input data-check-target="num1" type="text"><br>
    <input data-check-target="num2" type="text"><br>
    <button data-action="click->check#sum">Sum</button>
  </div>
  <br>

